body {
    background-color: #000;
    color: white;
}
.card {
    background-color: #ffffff;
    border-radius: 15px;
    margin-top: 30%;
}
.btn-custom {
    background-color: #ffc107;
    border: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: 0.3s;
}
.btn-custom:hover {
    background-color: #e0a800;
}
.navbar {
    background: linear-gradient(135deg, #FFDC00, #F5A623); 
    padding: 1rem 2rem;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease-in-out;
}

.navbar:hover {
    background: linear-gradient(135deg, #F5A623, #FFDC00); 
}

.navbar-brand {
    font-size: 2rem;
    font-weight: 700;
    color: #121212;
    transition: color 0.3s ease;
}

.navbar-brand:hover {
    color: var(--color-primario);
}

.navbar-nav .nav-link {
    color: #121212;
    padding: 0.8rem 1.5rem;
    font-size: 1.1rem;
    transition: color 0.3s ease, transform 0.2s ease;
}

.navbar-nav .nav-link:hover {
    color: var(--color-primario);
    transform: scale(1.05);
}

.modal_fade{
    background-color: #000;

}

.requerido::after {
    content: " *";
    color: red;
    font-weight: bold;
  }

  .modal-content {
    background: rgba(255, 255, 255, 0.15); 
    backdrop-filter: blur(10px); 
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    color: white;
}

.modal-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2));
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.modal-footer {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2));
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.btn-close {
    filter: invert(1);
}

.btn {
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.btn-secondary:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    transform: scale(1.05);
}


.modal-backdrop.show {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
}

.spinner-border {
            display: none;
            width: 1rem;
            height: 1rem;
            vertical-align: middle;
            margin-left: 5px;
}
